body {
	font-family: 'Oswald', sans-serif;
	color: black;
	margin: 0%;
	background: rgba(47,71,24,0.93);
	background: -moz-linear-gradient(left, rgba(47,71,24,0.93) 0%, rgba(144,160,38,0.93) 18%, rgba(153,168,51,1) 27%, rgba(229,230,150,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(47,71,24,0.93)), color-stop(18%, rgba(144,160,38,0.93)), color-stop(27%, rgba(153,168,51,1)), color-stop(100%, rgba(229,230,150,1)));
	background: -webkit-linear-gradient(left, rgba(47,71,24,0.93) 0%, rgba(144,160,38,0.93) 18%, rgba(153,168,51,1) 27%, rgba(229,230,150,1) 100%);
	background: -o-linear-gradient(left, rgba(47,71,24,0.93) 0%, rgba(144,160,38,0.93) 18%, rgba(153,168,51,1) 27%, rgba(229,230,150,1) 100%);
	background: -ms-linear-gradient(left, rgba(47,71,24,0.93) 0%, rgba(144,160,38,0.93) 18%, rgba(153,168,51,1) 27%, rgba(229,230,150,1) 100%);
	background: linear-gradient(to right, rgba(47,71,24,0.93) 0%, rgba(144,160,38,0.93) 18%, rgba(153,168,51,1) 27%, rgba(229,230,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4718', endColorstr='#e5e696', GradientType=1 );
}

.headerLogo {
    height: 126px;
    width: 169px;
    float: left;
    position: fixed;
    top: 2%;
    left: 1%;
}

.backgroundImage {
     width: 111%;
    height: 111%;
}

/*NAVIGATION*/

nav {
	list-style-type: none;
	text-align: center;
	position: fixed;
	width: 100%;
}

nav ul a {
	color: black;
	text-decoration: none;
	padding: .5% .5%;
}

nav a:hover {
    color: #27471C;
    text-decoration: none;
    padding: .5% .5%;
}

li {
	display: inline;
	padding: 1% 2%;
}


/*BODY*/

.wholesale {
    margin-top: -60%;
    padding-left: 2%;
    width: 40%;
    text-align: center;
    margin-left: auto;
    font-size: 2em;
    margin-right: auto;
    font-size: 1.4em;
}

.footer {
    margin-top: 54%;
    margin-left: .5%;
    font-size: .8em;
    position: relative;
}

.footer1 {
    float: left;
}

.footer2 {
    float: right;
    padding-right: 2%;
}

footer a {
    color: black;
    text-decoration: none;
    padding: .5% .5%;
}

footer a:hover {
    color: #27471C;
    text-decoration: none;
    padding: .5% .5%;